<template name="wctl">
    <div class="topbar">{{> loginButtons}} <!-- <input type="checkbox" class="notification" />Notifications --> </div>

    {{#if statusCount}}
        <div id="wrapper">
            <div class="content">
                <div id="ampel">
                    <div class="item red {{getClass 'red'}}"></div>
                    <div class="item yellow {{getClass 'yellow'}}"></div>
                    <div class="item green {{getClass 'green'}}"></div>
                </div>
            </div>

            {{#unless isGreen}}
                <div class="currentUser">
                    {{currentUser}}
                 </div>
                <a href="#" class="forceGreen">Force green</a>
            {{/unless}}
        </div>
    {{/if}}
    
</template>